.App{
    background: rgb(170,255,227);
    background: linear-gradient(93deg, rgba(170,255,227,1) 0%, rgba(25,183,245,1) 100%);
        /*background: rgb(2,0,36);*/
        /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,174,180,1) 0%, rgba(48,217,181,1) 53%, rgba(0,255,231,1) 100%);*/
    width: 100vw;
    height: 100vh;
}