.App{
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,174,180,1) 0%, rgba(48,217,207,1) 53%, rgba(0,255,231,1) 100%);*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,174,180,1) 0%, rgba(48,217,181,1) 53%, rgba(0,255,231,1) 100%);
    width: 100vw;
    height: 100vh;
}